[submodule "software/common/cmp"]
	path = software/common/cmp
	url = git@github.com:camgunz/cmp.git
[submodule "software/firmware-stm/FreeRTOS-Kernel"]
	path = software/firmware-stm/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
