
build
.vscode

*.lck
*.kicad_prl
*-backups
*.bak
*auto_saved_files*
fp-info-cache

controller.csv
gerbers
gerbers.zip

sdkconfig.old

software/firmware-stm/cubemx/*
!software/firmware-stm/cubemx/cubemx.ioc
