
build
.vscode

*.lck
*.kicad_prl
*-backups
*.bak
*auto_saved_files*
_autosave-*
fp-info-cache

controller.step
controller.csv
gerbers
gerbers.zip

sdkconfig.old

a.out

software/firmware-stm/cubemx/*
software/firmware-stm/generated
!software/firmware-stm/cubemx/cubemx.ioc

*.ndjson

__pycache__
.ipynb_checkpoints
software/simulation/src/Model.hpp
software/simulation/src/Model.cpp
software/common/control/generators.h
software/common/control/generators.c
software/common/control/jptd_dynamic.h
software/common/control/jptd_dynamic.c
software/common/control/jptd_dynamic_1d.h
software/common/control/jptd_dynamic_1d.c
software/common/control/naive.h
software/common/control/naive.c
